<div id="contenedor">
    <img src="img/ODS_logo.png">
</div>

<section>
    <form action="/tetris" method="GET"  class="form-inicio">
        <div>
            <input type="submit" class="botones" value="Juagar de nuevo">
        </div>
    </form>
    <form action="/ranking" method="POST" class="form-inicio">
        <div>
            <input type="submit" 
            class="botones" value="Ranking">
        </div>
    </form>
    <form action="/logOut" method="GET" class="container-sm">
        <div class="mb-3 form-check">
            <input type="submit" class="btn btn-primary" value="Log out">
        </div>
    </form>
</section>