<br>
<body id="bodyy" style="background-image: url(img/bello.png);" >
    <div id="contenedor">
        <img src="img/gameover.png">
    </div>
   
    <section class="center-content" id="horizontal1">
        <form action="/inicio" method="GET"  class="form-inicio">
            <div>
                <input type="submit" class="botones" value="Jugar de nuevo" id="gris1">
            </div>
        </form>
        <form action="/tablaRanking" method="POST" class="form-inicio" >
            <div>
                <input type="submit" class="botones" value="Ranking" id="gris1"  onclick="mostrarRanking()">
            </div>
        </form>
        <form action="/logOut" method="GET" class="form-inicio">
            <div>
                <input type="submit" class="botones" value="Log out"id="www1" >
            </div>
        </form>
    </section>
</body>