<section class="home">

 <h1>Bienvenidos</h1>
<h2>Primera experiencia usando Firebase</h2>
<form action="/register" method="get">
  <input type="submit" class="btn btn-primary" value="Registrarse" />
</form>
<form action="/login" method="get">
  <input type="submit" class="btn btn-primary" value="Iniciar sesión" />
</form>

</section>

