<br>
<br>
<br>
<br>
<br>
<body class="fondoo" style="background-image: url(img/bello.png);"></body>
<div class="center-content" id="contenedor">
<br>
<br>
<br>
<br>
<br>
    <img src="img/admi.png">
    <br>
    <br>
    <br>
</div>
<div style="text-align: center;">
<section class="center-content" id="horizontal">
    <form action="/tetris" method="GET"  class="form-inicio">
        <div>
            <input type="submit" class="botones" value="Jugar" id="gris1">
        </div>
    </form>
    <form action="/admin" method="GET" class="form-inicio">
            <input type="submit"
            class="botones" value="editar"  id="gris1">
    </form>
    <form action="/logOut" method="GET" class="container-sm">
        <div class="mb-3 form-check">
            <input type="submit" class="btn btn-primary" value="Log out"  id="www1">
        </div>
        </div>
    </form>
</section>
</body>








