<body class="body">
<img src="img/tetris3 .png">
<div id="contenedor">
<br>
<br>
<br>
    <img src="img/tetris.png">
</div>

<section id="horizontal">
    <form action="/tetris" method="GET"  class="form-inicio">
        <div>
            <input type="submit" class="botones" value="Jugar">
        </div>
    </form>
    <form action="/admin" method="GET" class="form-inicio">
        <div>
            <input type="submit" 
            class="botones" value="editar">
        </div>
    </form>
    <form action="/logOut" method="GET" class="container-sm">
        <div class="mb-3 form-check">
            <input type="submit" class="btn btn-primary" value="Log out">
      <div>
            <img src="img/tetris2.png">
          </div>
        </div>
    </form>
</section>
</body>