<body id="bodyy" style="background-image: url(img/ii.png);">
    <div id="contenedor">
        <br>
        <br>
        <br>
        <img src="img/tetris.png">
    </div>

    <section id="horizontal2">
       <form action="/tetris" method="POST"  {{!-- class="form-inicio" --}}>
            <div>
                <input type="text"  class="form-control" id="violeta" name="nombreDeUsuario" value="" placeholder="Ingrese su nombre" required>
            </div>
            <div style="margin:auto">
                <input type="submit"  class="botones"   id="gris1" value="EMPEZAR">
            </div>
        </form>
    </section>
</body>