<body id="bodyy" style="background-image: url(img/ii.png);">
    <div id="contenedor">
        <br>
        <br>
        <br>
        <img src="img/tetris.png">
    </div>
    <section id="">
        <form action="/tetris" method="GET" class="form-inicio">
            <div class="mb-3 form-group">
                <input type="text" class="form-control" id="violeta" name="nombreDeUsuario" value="" placeholder="Ingrese su nombre" required>
            </div>
            <div>
                <input type="submit" 
                class="botones" value="EMPEZAR" id="gris1">
            </div>
        </form>
    </section>
</body>