<body>
    <div class="fondito">
        <style>
            .fondito {
                background: url("img/tetriss");
            }

        </style>
    
        <br>
        <br>
        <br>
        <img src="img/tetris.png">
    

    <section id="horizontal">
        <form action="/login" method="GET"  class="form-inicio" >
            <div>
                <input type="submit" class="botones" value="Ingresar" id="gris1">
            </div>
        </form>
        <form action="/registro" method="GET" class="form-inicio">

                <input type="submit" 
                class="botones" value="Registrar" id="gris1">
            </div>
        </form>
    </section>
</body>