<body id="bodyy" style="background-image: url(img/ii.png);">
    <div class="center-content" id="contenedor">
        <br>
        <br>
        <br>
        <img src="img/tetris.png">
    </div>

    <section class="center-content" id="horizontal">
        <form action="/login" method="GET"  class="form-inicio" >
            <div>
                <input type="submit" class="botones" value="Ingresar" id="gris1">
            </div>
        </form>
        <form action="/registro" method="GET" class="form-inicio">
            <div>
                <input type="submit" 
                class="botones" value="Registrar" id="gris1">
            </div>
        </form>
    </section>
</body>