<body id="bodyy">
    <div id="contenedor">
    <img src="img/ODS_logo.png">
</div>

<section>
    <form action="/login" method="GET"  class="form-inicio" >
        <div>
            <input type="submit" class="botones" value="Ingresar" id="gris">
        </div>
    </form>
    <form action="/registro" method="GET" class="form-inicio">
        <div>
            <input type="submit" 
            class="botones" value="Registrar" id="gris">
        </div>
    </form>
</section>
</body>