

<body id="bodyy" style="background-image: url(img/ii.png);">
    <div class="center-content" id="contenedor">
       
        <video  id="video1" autoplay controls>
  <source src="img/video.mp4" type="video/mp4">
  
</video>

    </div>
    
    <section class="center-content" id="horizontal">
        <form action="/login" method="GET"  class="form-inicio" >
            <div>
                <input type="submit" class="botones" value="Ingresar" id="gris1">
            </div>
        </form>
        <form action="/registro" method="GET" class="form-inicio">
            <div>
                <input type="submit" 
                class="botones" value="Registrar" id="gris1">
            </div>
        </form>
    </section>
</body>

