<div id="contenedor">
    <img src="img/ODS_logo.png">
</div>

<section>
    <form action="/login" method="GET"  class="form-inicio">
        <div>
            <input type="submit" class="botones" value="Ingresar">
        </div>
    </form>
    <form action="/registro" method="GET" class="form-inicio">
        <div>
            <input type="submit" 
            class="botones" value="Registrar">
        </div>
    </form>
</section>