<!DOCTYPE html>
<body id="bodyy" style="background-image: url(img/fondoso.png);">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <section class="section-login-registro"> 
            <div class="mb-3 form-group"  id="boxblanco">
        <form action="/login" method="POST">
            <br>
            <br>  
            <img src="img/login.png">
            <br>
            <br>
                
                <input type="text" class="form-control" id="violeta" name="usuario" value="" placeholder="Usuario"  style="  width: 418px; text-align: center;">
            
            <div class="mb-3 form-group" style="  width: 530px; text-align: center;">
                
                <input type="password" class="form-control" id="violeta" name="contraseña" placeholder="Contraseña">
            </div>
            <div id="horizontal">
            <div  class="form-login-registro">
                <input type="button" onclick="login()" class="botones" value="Ingresar" id="gris">
            </div>
        </form>
        <form action="/irAregistro" method="GET">
            <div class="form-login-registro">
                <input type="submit" class="botonRegistro" value="Registrar" id="gris">
            </div>
        </form>
        <form action="/home" method="POST" id="form-login"></form>
        <form action="/inicio-admin" method="GET" id="form-admin"></form>
        </div>
        </div>
    </section>

</body>
</html>
</body>