<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <section class="section-login-registro"> 
        <form action="/login" method="POST">
            <div>
                <h2><strong>LOGIN</strong></h2>
            </div>
            <div class="mb-3 form-group">
                <label for="usuarioId" class="form-label">Email</label>
                <input type="text" class="form-control" id="emailId" name="email" value="" placeholder="Email">
            </div>
            <div class="mb-3 form-group">
                <label for="passwordId" class="form-label">Contrase침a</label>
                <input type="password" class="form-control" id="passwordId" name="contrase침a" placeholder="Contrase침a">
            </div>
            <div  class="form-login-registro">
                <button type="submit" class="botones">Iniciar sesi칩n</button>
            </div>
        </form>
        <form action="/irAregistro" method="GET">
            <div class="form-login-registro">
                <input type="submit" class="botonRegistro" value="Registrar">
            </div>
        </form>
        <form action="/home" method="POST" id="form-login"></form>
        <form action="/inicio-admin" method="GET" id="form-admin"></form>
    </section>

</body>
</html>