<img alt="niveles">
<div>
    <button type="button">Facil</button>
</div>

<form action="/tetris" method="GET">
    <div class="form-login-registro">
        <input type="submit" class="" value="Facil" id="facil">
    </div>
</form>