{{!-- <form action="/option" method="post"> --}}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ELIGE UNA OPCIÓN</title>
    </head>
    <body>
        <section id="salas">
            <script>
            window.onload = function() {
                cargarSalas(); // Esta función se ejecutará cuando la página se cargue
            }
            </script>

            <h3>Elija una sala</h3>

            <section id="crearSala">
                <h3>Crear Sala</h3>
            </section>

            <section id="botones">
                <h3>Sala de espera</h3>
                <div id="listadoSalas">

                </div>
            </section>
            <div class="contenedor">
                <div class="mb-3 form-check">
                    <button id="multijugador" name="multijugador" onclick="uniseSala(this)">multijugador</button>
                </div>

            </div>
        </section>
        <section id="salaDeEspera" style="display: none;">
            <h3>SALA DE ESPERA</h3>
            <h5>Esperando a otro jugador</h5>
        </section>
    </body>

{{!-- </form> --}}

    

    