
{{!-- <form action="/option" method="post"> --}}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ELIGE UNA OPCIÓN</title>
    </head>
    <body>
        <h3>Elija una sala</h3>
        <section id="crearSala">
            <h3>Crear Sala</h3>
        </section>

        <section id="salaDeEspera">
            <h3>Sala de espera</h3>
            <div id="listadoSalas">

            </div>
        </section>
        {{!-- <div class="contenedor">
            <form action="/tetris" method="GET" class="container-sm">
                <div class="mb-3 form-check">
                    <input type="submit" class="btn btn-primary" id="multijugador" onclick="uniseSala()" value="Multijugador">
                </div>
            </form>

        </div> --}}

{{!-- </form> --}}

    