
<form action="/option" method="post">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ELIGE UNA OPCIÓN</title>
    </head>
    <body>
            <section>
        
                <div class="contenedor">
                    <div class="jugador1">
                        <button type="submit"></button>
    
                    </div>
                    <div class="multijugador">
                        <button type="submit"></button>
    
                    </div>
                </div>

</form>

    