<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <section class="section-login-registro">
        <form action="/enviarRegistro" method="POST" class="container-sm">
            <div class="mb-3 form-group">
                <h2><strong>REGISTRO</strong></h2>
            </div>
            <div class="mb-3 form-group">
                <label for="nombreId" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombreId"  name="nombre" value="" placeholder="Nombre">
            </div>
            <div class="mb-3 form-group">
                <label for="apellidoId" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellidoId"  name="apellido" value="" placeholder="Apellido">
            </div>
            <div class="mb-3 form-group">
                <label for="dniId" class="form-label">DNI</label>
                <input type="text" class="form-control" id="dniId" name="dni" value="" placeholder="DNI">
            </div>
            <div class="mb-3 form-group">
                <label for="usuarioId" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="usuarioId" name="usuario" value="" placeholder="Usuario">
            </div>
            <div class="mb-3 form-group">
                <label for="passwordId" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="passwordId" name="password" value="" placeholder="Contraseña">
            </div>
            <div class="form-login-registro">
                <input type="submit" class="botones" value="Registrarse">
            </div>
        </form>
    </section>

</body>
</html>