<!DOCTYPE html>
<body id="bodyy">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <br>
    <section class="section-login-registro">
        <div class="mb-3 form-group" id="boxblanco">
            <form action="/enviarRegistro" method="POST" class="container-sm">
                <br>
                <br>
                    <img src="img/registro.png">
                <br>
                <br>
                    
                    <div class="mb-3 form-group">
                    
                        <input type="text" class="form-control" id="violeta"  name="nombre" value="" placeholder="Nombre"  style="  width: 530px; text-align: center;">
                    </div>
                    <div class="mb-3 form-group">
                        <input type="text" class="form-control" id="violeta"  name="apellido" value="" placeholder="Apellido"  style="  width: 530px; text-align: center;">
                    </div>
                    <div class="mb-3 form-group">
                        <input type="text" class="form-control" id="violeta" name="dni" value="" placeholder="DNI"  style="  width: 530px; text-align: center;">
                    </div>
                    <div class="mb-3 form-group">
                        <input type="text" class="form-control" id="violeta" name="usuario" value="" placeholder="Usuario"  style="  width: 530px; text-align: center;">
                    </div>
                    <div class="mb-3 form-group">
                        <input type="password" class="form-control" id="violeta" name="password" value="" placeholder="Contraseña"  style="  width: 530px; text-align: center;">

                    <div class="form-login-registro">
                        <input type="submit" class="botones" value="Registrarse"id="gris">
                    </div>
                
            </form>
        </div>
    </section>

</body>
</html>
</body>