<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body class="fondoo" style="background-image: url(img/fondoso.png);">
    <br>
    <br>
    <br>
    <br>
    <div class="section-login-registro"id="boxblanco">
            <img src="img/ranking.png">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Usuario</th>
                        <th scope="col">Puntaje</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each puntaje}}
                        <tr>
                            <td>{{this.usuario}}</td>
                            <td>{{this.puntaje}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <form action="/logout" method="GET"  class="form-inicio">
        <div>
            <input type="submit" class="botones" value="Jugar" id="gris1">
        </div>
    </form>  
    </div>
       

    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
     </div>
    
</body>
</html>