{{!-- <h3>Puntaje</h3> --}}
<h2 id="puntaje">0</h2>
<canvas id="tetris" height="600" width="300"></canvas>
<br>
<button type="button" onclick="openPopUp()" id="jugar-btn">JUGAR</button>
{{!-- <button type="button" onclick="pausa()">PAUSA</button> --}}

<div class="container">
    <div class="popup" id="popup">
        <h2>Instrucciones</h2>
        <img src="img/instrucciones.png">
        <button type="button" onclick="closePopUp()">OK</button>
    </div>
</div>

<script src="/js/tetris.js"></script> 