*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: #000000;
}

#tetris{
    background-color: white;
    box-shadow: 0 0 10px 0 lightgrey;
}

#puntaje{
    margin-top: 70px;
    margin-bottom: 30px;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    padding: 10px 60px;
    background-color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.popup{
    width: 400px;
    height: 430px;
    background-color: white;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    
    box-shadow: 0 0 10px 0 lightgrey;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.popup img{
    width: 350px;
    margin-top: 10px;
}

.popup h2{
    font-size: 38px;
    font-weight:  500;
    margin: 30px 0 10px;
}

button {
    width: 100px;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #6fd649;
    color: white;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    visibility: visible;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.close-jugar-btn {
    visibility: hidden;
}


#gris {
margin: 20px;
padding: 10px 40px;
text-align: center;
text-decoration: none;
outline: none;
color: #000000;
background-color: #CAD8D6 ;
border-color:  #000000;
border-radius: 50px;
justify-content: center;
flex-direction: row;
}


#violeta {
    margin: 20px;
    padding: 10px 30px;
    text-align: center;
    display: flex;
    text-decoration: none;
    outline: none;
    color: #de63af;
    background-color: #342162 ;
    border-color:  #000000;
    border-radius: 50px;
    justify-content: center;
    flex-direction: row;
}

#boxblanco{
    box-shadow: #ffffff;
    background-color: #ffffff;
    width: 38%;
    height: 95%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.section-login-registro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#horizontal{
    display: flex;
    flex-direction: row;
    margin: 100px;
  
}
#gris1 {
    background-color: #ddd;
    border: none;
    border-radius: 50px;
    color: black;
    padding: 26px 70px;
    text-align: center;
    font-size: 16px;
    margin: 60px 20px;
    transition: 0.3s;
}
  
#gris1:hover {
background-color: #342162 ;
color:#6f58a5  ;
}
.fondoo{
    background-image: url("/public/img/tetris3.png");
  }

  


